<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Medcine_ManagmentSystem.Properties.Settings.MedicineConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Medicine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>